/* solarized colors:

base03 = lab(15% -12 -12), #002b36
base02 = lab(20% -12 -12), #073642
base01 = lab(45% -07 -07), #586e75
base00 = lab(50% -07 -07), #657b83
base0  = lab(60% -06 -03), #839496
base1  = lab(65% -05 -02), #93a1a1
base2  = lab(92%   0  10), #eee8d5
base3  = lab(97%   0  10), #fdf6e3
blue   = lab(55% -10 -45), #268bd2

*/

#portrait {
    text-align: center;
}

#portrait img {
    width: 200px;
    border-radius: 50%;
    z-index: 0;
}

#profile {
    flex-grow: 1;
    font-size: 11pt;
}

#profile address {
    font-style: normal;
}

#name {
    margin-top: 0;
    margin-bottom: 0.33em;
    font-size: 24pt;
    color: #586e75;
    color: lab(45% -07 -07);
}

header {
    padding-bottom: 30px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25px;
    justify-content: center;
}

header.index {
    display: flex;
}

#profile-icons {
    max-width: 70px;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
    font-size: 12pt;
}

a {
    text-decoration: none;
}

a:link {
    color: #268bd2;
    color: lab(55% -10 -45);
}

a:visited {
    color: #268bd2;
    color: lab(55% -10 -45);
}

a:hover {
    background-color: #eee8d5;
    background-color: lab(92%   0  10);
}

/* #profile-icons i {
} */

body {
    margin: 30px;
    height: 100%;
    font-family: "Songti TC";
    max-width: 800px;
}

html {
    height: 100%;
    background-color: #fdf6e3;
    background-color: lab(97%   0  10);
    color: #657b83;
    color: lab(50% -07 -07);
}

main {
    max-width: 700px;
    font-size: 12pt;
    margin-bottom: 50px;
}

#description {
    font-size: 14pt;
    text-align: justify;
    margin-bottom: 50px;
}

section h2 {
    color: #586e75;
    font-size: 18pt;
    margin-bottom: 0;
}

.works {
    list-style-type: none;
}

.works {
    margin-top: 0.5em;
}

.works li {
    margin-bottom: 1em;
}

.works li p {
    margin-top: 0;
    margin-bottom: 0;
}

.work-title {
    color: #268bd2;
    color: lab(55% -10 -45);
}

.work-venue {
    color: #839496;
    color: lab(60% -06 -03);
}

.work-links a {
    color: inherit;
    text-decoration: underline;
}

.work-abstract {
    text-indent: 2em;
}

footer {
    padding-bottom: 1em;
}